html, body {
    margin: 0;
    padding: 0;
    height:100%; 
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  html {
    height: -webkit-fill-available;
  }

.content {
    display: flex;
    height: 100vh;
}

aside {
    background-color: lightgray;
    width: 350px;
    box-sizing: border-box;
}

#mainMenu {
    margin-top: 20px;
}

aside .nav-item {
    padding-left: 20px;
}

aside .nav-link {
    color: gray;
    font-size: 20px;
}

aside .sub-menu .nav-link {
    font-size: 16px;
    margin-left: 30px;
}

main {
    background-color: whitesmoke;
    width: 100%;
    box-sizing: border-box;
}

footer {
    background-color: white;
}

footer h6 {
    padding-left: 30px;
}